<header class="bg-gradient-to-r from-blue-600 from-10% via-sky-500 via-30% to-emerald-500 to-90%  sm:max-w-[80%] lg:max-w-[65%]  mx-auto rounded-2xl">
  <a routerLink="/task">
      <img class="w-32 rounded-[60px] mx-auto p-3" src="assets/logo.png" alt="ToDoLogo">

  </a>
    <div class="text-center space-y-1 pb-6  ">
        
        <h1 class="font-bold text-3xl text-[var(--blue)]">EasyTask</h1>

<p class="block pb-3 font-semibold text-lg text-[var(--white)]">Manage your tasks easily</p> 
   </div>
</header>

