

<app-header></app-header>
<main class="mt-16 grid sm:grid-cols-2  md:grid-cols-2 gap-8  sm:w-[80%] lg:grid-cols-3 lg:w-[65%] mx-auto">
  <ul class="space-y-2">
    @for(user of users; track user.id){
      <li>
        <app-user [user]="user" [selected]="user.id === selectedUserId" (select)="onSelectUser($event)"></app-user>
  
      </li>

    }
  </ul>
  <div class="sm:col-auto lg:col-span-2 ">
  @if(!selectedUser){
    <div class="h-full bg-[var(--green)] bg-gradient-to-r from-blue-600    to-emerald-500 to-90%   rounded-2xl text-center pt-10 ">
      
      <p class="mt-5 font-semibold text-xl">Select a user to see their tasks</p>
    </div>
    
  } @else {
    <router-outlet />

  }
</div>
</main> 
